*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
header{
    background-color: white;

}
.Toboolist{
    display: inline-block;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
}
.logo{
    width: 80px;
    padding: 20px 0px;
    margin-left: 20px;
}
.alignmiddle{
    vertical-align: middle;
}

body{
    background-color:rgb(221, 207, 207) ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    
}

main{
    margin: 30px 0;
}
.container{
    width: 1200px;
    margin: auto;


}
.background-white{
    background-color:rgb(255, 255, 255);
    border-radius: 5px;
    padding: 30px 0;
}
button{
    border-radius: 3px;
    margin: 10px 0px  10px;
    font-size: 15px;
    padding: 10px;
    

}
#bottone-sinistro{
    margin-left: 25px;
    background-color: rgb(24, 117, 223);
    color: white;
  

}
#bottone-destro{
    margin-left: 5px;
    background-color: rgb(255, 249, 249);
    color: rgb(165, 163, 163);
    border: solid 1px gray;

}
hr{
    color: grey;
    border: solid 1px rgb(209, 203, 203);
}
 ul{
    list-style-type: none;
    font-size: 20px;
    
 }
 li{
    margin: 20px 0;
 }
 .checked{
    border: solid 2px green;
    border-radius: 100%;
    color: green; 
    padding: 4px 10px;   
}
.undone{
    border: solid 2px rgb(170, 0, 0);
    border-radius: 100%;
    color: red;
    padding: 4px 10px;
}
.target{
    border-radius: 20px;
    color: rgb(255, 255, 255);
    padding: 5px 15px;
    
}
.editorial{
    background-color: rgb(30, 107, 207);

}
.purple{
    background-color: blueviolet;
}
.green{
    background-color: rgb(17, 105, 39);
}
.orange{
    background-color: orangered;
}
.pink{
    background-color: rgb(187, 81, 98);
}
.yellow{
    background-color: rgb(215, 252, 7);
}